{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}
<h1>{{ title }}</h1>
{% if user %}
    <p>
        Hallo, {{user}}!
    </p>
{% endif %}

<ul>
    {% if user.is_authenticated == False %}
        <li>
            <a href="{% url 'sevo-auth-sign-up' %}">Sign up</a>
        </li>
        
        <li>
            <a href="{% url 'sevo-auth-sign-in' %}">Sign in</a>
        </li>

        <li>
            <a href="{% url 'sevo-auth-forgot-password' %}">Forgot password</a>
        </li>
    {% else %}
        <li>
            <a href="{% url 'sevo-auth-sign-out' %}">Sign out</a>
        </li>
        <li>
            <a href="{% url 'sevo-auth-change-user-data' %}">Change user data</a>
        </li>
        <li>
            <a href="{% url 'sevo-auth-change-password' %}">Change password</a>
        </li>

    {% endif %}
</ul>

{%  endblock %}